/** All Zone START **/
.pic-area{
    background-image:url(./images/hiring.jpg) ;
    padding: 150px 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-size: cover;
}
.shadow.dark::after {
    background: #000000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
/** Section-1 End **/
.h2{
    font-size: 36px;
    color: #1d2746;
    display: block;
    font-size: 2.35rem;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box1{
    height: 4.5rem;
    width: 24rem;
    background-color: #32A2F0;
    color: #FFFFFF;
    display: inline-block;
    border-radius: 0.4rem;
    margin-top: 0.6rem;
    padding-left: 0.7rem;
}
.icon{
    font-size:2rem ;
    padding-top: 1rem;
}
/** section-2 End **/
.section3{
    height: 35rem;
    width: 100%;
    background-color:  #59b3f3;
    margin-top: 3rem;
    border-radius: 0.5rem;
}
.tab-box{
    margin-left: 6rem;
}
#h1{
    color: #FFFFFF;
    padding-top: 4rem;    
}
ul.tabs li {
    float: left;
    margin-left: 0px;
    margin-right: 5px;
    padding: 0;
    height: 32px;
    line-height: 32px;
    margin-bottom: -1px;
    overflow: hidden;
    position: relative;
}

ul.tabs li a {
    background: #eee;
    text-decoration: none;
    color: #1c79ec;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 16px;
    padding: 10px 30px;
}
.locat{
    height: 20rem;
    width: 80%;
    background-color: #FFFFFF;
    margin-top: -3px;
    padding: 0px 22px;
    margin-left: 8rem;
    display: inline-block;
}
.locat1{
    float: right;
    margin-top: -16rem;
}
#bus{
    margin-left: 1rem;
    color: #1d2746;
    margin-top: 1rem;
}
.lh{
    margin-left: 5rem;
}
.button{
    background-color:#1c79ec ;
    color: #eee;
    margin-left: 5rem;
    width: 5rem;
    padding: 0.3rem;
    text-align: center;
    border-radius: 0.3rem;
}
/** section-3 End **/
.section4{
    height: 15rem;
    width: 100%;
    background-color: #FFFFFF;
}
#recruit{
    color: #1d2746;
    text-align: center;
    margin-top: 2rem;
    font-size: 3em;
}
.anchor{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    font-size: 3em;
    color: #1d2746;
}
.icon2{
    color: #1273eb;
    margin-top: 3rem;
}
/** section-4 End**/

/* footer start */
.footer{
    height: 40rem;
    width: 100%;
    background-color: #212520;
    margin-top: 1rem;
    border-radius: 0.4rem;
    display: inline-flex;
    justify-content: space-evenly;
    padding-left: 3rem;
    padding-top: 5rem;
}
.p{
    padding-top: 1rem;
    color: #666666;
}
#h4{
    color: #FFFFFF;
    padding-right: 11rem;
    text-align: center;
    margin-top: -1rem;
}
.page1{
    margin-top: 1rem;
}
.page2{
    padding-top: 1rem;
}
.page3{
    padding-top: 1rem;
}
a{
    text-decoration: none;
    color: white;
    display: flex;
    padding: 0.4rem;
}
#contact{
    color: #FFFFFF;
    padding-right: 4rem;
    text-align: center;
    margin-top: -1.2rem;
    padding-bottom: 1rem;
    font-size: 1.7em;
}
.add{
    display: inline-block;
    padding-right: 1rem;
}
#ic{
    padding-right: 1rem;
    font-size: 2em;
    color: #1273eb;
}
 /* copywrite section */
 /* .copywrite{
    height: 10rem;
    width: 90%;
    background-color: red;
    display: inline-block;
    padding-right: 100px;
 }
 */






